<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
  <display-name>Archetype Created Web Application</display-name>
  <filter>
  	<filter-name>SessionCheck</filter-name>
  	<display-name>SessionCheck</display-name>
  	<description></description>
  	<filter-class>com.iris.controller.SessionCheck</filter-class>
  </filter>
  <filter-mapping>
  	<filter-name>SessionCheck</filter-name>
  	<url-pattern>/SessionCheck</url-pattern>
  </filter-mapping>
  <servlet>
  	<servlet-name>LogoutServlet</servlet-name>
  	<display-name>LogoutServlet</display-name>
  	<description></description>
  	<servlet-class>com.iris.controller.LogoutServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>AddAddress</servlet-name>
  	<display-name>AddAddress</display-name>
  	<description></description>
  	<servlet-class>com.iris.controller.AddAddress</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>LogoutServlet</servlet-name>
  	<url-pattern>/LogoutServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>AddAddress</servlet-name>
  	<url-pattern>/AddAddress</url-pattern>
  </servlet-mapping>
</web-app>
