<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns = "http://www.springframework.org/schema/beans"
   xmlns:xsi = "http://www.w3.org/2001/XMLSchema-instance"
   xsi:schemaLocation = "http://www.springframework.org/schema/beans
   http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">
   
   <bean id="obj1" class="com.iris.model.Engine">
   <constructor-arg value="900" />
   <constructor-arg value="Audi" />
   </bean> 
   
   <bean id="obj2" class="com.iris.model.Car">
<constructor-arg value="1521" />
<constructor-arg value="Audi R8" />
<constructor-arg ref="obj1" />

  </bean>
   
   </beans>